<html>
<head>
  <style>
    .gap-20 {
      width: 100%;
      height: 20px;
    }
  </style>
</head>
<body>
<div class="gap-20"></div>
<p>Hello again, <%= env['warden'].user.username %>! </p>
<p>Why don't you tell me how your resolutions have been going so far? <a href="/resolutions/update">Click here to do so!</a></p>
</body>
</html>
